<html>
    <head>
        <link rel="stylesheet" href="/style/index.css">
        <script>
            let userId='<%=userId%>';
            let roomId='<%=roomId%>';
        </script>
    </head>
    <body>
        <p><%=roomId%></p>
        <div>
            <video class="user-1" autoplay></video>
            <video class="user-2" autoplay></video>
        </div>
        <script
        src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"
        ></script>
        <script src="/script/index.js"></script>
    </body>
</html>