<html>
    <head>
        <link rel="stylesheet" href="/style/lobby.css">
        
    </head>
    <body>
        <div>
            <input type="text" placeholder="enter room Id" class="roomId">
            <button class="send">enter</button>
        </div>
        <script>
            let userId='<%=userId%>'
        </script>
        <script src="/script/lobby.js" >
        </script>
    </body>
</html>